{extend name="common/home"}
{block name="head"}
<style>
    .columns:not(:first-child){margin-top:3rem}
    .hashtolink{margin-top:-60px;padding-top:60px}
</style>
{/block}

{block name="main"}

<div class="carousel slide mb-3" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://cdn.xynest.club/bg/bg_fc_1.jpg" class="d-block w-100" alt="">
        </div>
    </div>
</div>

<h3 class="hashtolink" id="topic">FC专区</h3>
<hr>

<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <div class="clearfix mb-4">
                <form action="#topic" class="form-inline row">
                    <div class="input-group mb-3">
                        <input type="text" name="name" class="form-control" aria-label="Recipient's username" aria-describedby="basic-addon2" placeholder="搜索游戏名" value="{$_GET['name'] ?? ''}" autocomplete="off">
                        <div class="input-group-append">
                            <button class="btn btn-outline-primary" type="submit">搜索</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="row clearfix">
                {volist name="games" id="game"}

                <div class="col-12 col-sm-12 col-md-6 col-lg-4 mb-4">
                    <div class="card border-0">
                        <div style="width:100%;height:0;padding-top:93.75%;background-image:url({$game['cover']});background-repeat:no-repeat;background-size:cover;background-position:center center;background-color:#f0f0f0"></div>
                        <div class="card-body" style="padding:0.75rem">
                            <h5 class="card-title" title="{$game['name']}" style="white-space: nowrap;text-overflow:ellipsis;overflow:hidden">{$game['name']}</h5>
                            <p class="card-text">
                                {volist name=":explode(',', $game['tag'])" id="tag"}
                                <span class="badge badge-light">{$tag}</span>
                                {/volist}
                                {empty name="game['tag']"}暂无标签{/empty}
                            </p>
                            <a href="/game/nes/{$game['id']}" class="btn btn-primary">开始游戏</a>
                        </div>
                    </div>
                </div>

                {/volist}

            </div>

            {empty name="games"}
            <div class="mt-6 pt-6 text-center" style="margin:2rem 0 4rem;height:10rem;background-image:url(/index/img/no-data.png);background-repeat:no-repeat;background-size:auto 10rem;background-position:center center;"></div>
            {/empty}

            {$games|raw}
        </div>


        <div class="col-sm-4">
            
            {include file="fc/module/rank"}
            {include file="fc/module/new"}

        </div>
    </div>
</div>

{/block}