<footer class="footer mt-4 bg-474f60" style="padding:2rem 0;color:#aaa">
    <div class="container">
        
        <dl class="list-inline">
            <dt class="list-inline-item">友善链接：</dt>
            <dd class="list-inline-item"><a href="https://www.baidu.com/" target="_blank">百度一下</a></dd>
            <dd class="list-inline-item"><a href="https://www.zhihu.com/" target="_blank">知乎</a></dd>
            <dd class="list-inline-item"><a href="https://www.bilibili.com/" target="_blank">哔哩哔哩</a></dd>
            <dd class="list-inline-item"><a href="https://www.youku.com/" target="_blank">优酷视频</a></dd>
        </dl>

        <dl class="list-inline">
            <dt class="list-inline-item">特别鸣谢：</dt>
            <dd class="list-inline-item"><cite>Jove</cite></dd>
        </dl>

        <blockquote class="blockquote text-center">
            <p class="mb-0">少抬杠，多搬砖</p>
            <footer class="blockquote-footer"><cite title="Source Title">ProcessSync.iexn</cite></footer>
        </blockquote>

    </div>
</footer>