<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{$title}</title>

    <link rel="stylesheet" href="https://cdn.xynest.club/library/bootstrap/4.3.1/bootstrap.min.css?v=2019101601">
    <link rel="stylesheet" href="/index/app.css?v=2019101601">

    <script src="https://cdn.xynest.club/library/require/require.min.js?v=2019101601" data-main="/index/require-config"></script>

    {block name="head"}{/block}
</head>
<body>
    <div id="app">
        {include file="common/header"}
        
        <main class="container" style="min-height: 100%;">
            
            {block name="main"}
                {include file="common/developing"}
            {/block}

        </main>

        {include file="common/footer"}
    </div>

    {block name="end"}{/block}

</body>
</html>