<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>{$page_title}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="iexn" />

    <!-- App css -->
    <link href="/admin/theme/datached/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <link href="/admin/theme/datached/assets/css/app.min.css" rel="stylesheet" type="text/css" />

    {block name="head"}{/block}
</head>

<body>
    <div id="app">
        {block name="main"}{/block}
    </div>

    <script src="/admin/theme/datached/assets/js/app.min.js"></script>
    <script src="/admin/admin.js"></script>
    {block name="end"}{/block}
</body>

</html>